<html>
    <head>
        </head>
        <body>
            {{> header}}
            <h1>{{pageTitle}}</h1>
            <span>{{contents}}</span> 
            {{> footer}}               
        </body>
    </html>