<html>
    <h2>Project Name : &nbsp;&nbsp;{{project_name}}</h2>
    <h4>Developer : &nbsp;&nbsp;{{developer}}</h4>
    <h4>Technology : &nbsp;&nbsp;{{Technology}}</h4>
    <h4>Version : &nbsp;&nbsp;{{Version}}</h4>
    </html>